[*.cs]

architecture_analyzer.loc_budget_percent_project = 2
architecture_analyzer.loc_budget_percent_global = 2
architecture_analyzer.loc_max_lines_per_class = 20
architecture_analyzer.loc_max_lines_per_method = 20
architecture_analyzer.model_conventions = BusinessModel=Models/Business;DataModel=Models/Data
architecture_analyzer.model_folder_allowed_suffixes = Models/Business=BusinessModel;Models/Data=DataModel